#root {
    max-width: 1280px; 
    margin: 0 auto; 
    padding: 2rem; 
    text-align: center; 
}

.App {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
}

.App form {
    display: flex; 
    justify-content: center; 
    gap: 20px;
    align-items: center; 
}

/* target ul "decks" */
.decks {
    display: grid; 
    width: 600px; 
    margin: 0 auto; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    color: #000; 
}

.decks li {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: default; 
    height: 120px; 
    background: white; 
    border: 1px solid white; 
    -webkit-box-shadow: 5px 5px 5px -4px #ddd; 
    box-shadow: 5px 5px 5px -4px #ddd; 
    border-radius: 5px; 
}

.decks li:hover {
    background: #eee; 
    cursor: pointer; 
}